<head>
  <!-- Google Tag Manager -->
  <!-- Google Tag Manager script to track analytics -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5Q3KZZX');
  </script>
  <!-- End Google Tag Manager -->

  <!-- Google Analytics -->
  <!-- Google Analytics script to track page views -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TY1QGNKCQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-9TY1QGNKCQ');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>sophie.allen</title>
  
  <!-- Favicon -->
  <!-- Favicon links for the tab icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/imgs/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/imgs/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/imgs/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="assets/imgs/favicon_io/site.webmanifest">
  
  <!-- CSS -->
  <!-- Link to custom CSS stylesheets -->
  <link rel="stylesheet" href="assets/css/style.css">
  
  <!-- Viewport -->
  <!-- Set the viewport to be responsive to screen size -->
  <meta name="viewport" content="width=device-width">
</head>