<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    
      {%- include head.html -%}
  <!-- BODY -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Google Tag Manager (noscript) -->
    <!-- Google Tag Manager (noscript) for browsers without JavaScript enabled -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Q3KZZX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">
      <!-- LEFT COLUMN -->
      <header>
        <center>
          <br><br><br>
          <!-- profile picture -->
          <p style="width: 195px;"><img src="assets/imgs/profpic2.jpg"></p>
          <br>
          <!-- name -->
          <h1>sophie allen</h1>

          <!-- Navigation menu (commented out) -->
          <!--
          <p class="view"><h4>Home</h4></p>
          <p class="view"><a href="fun.html"><h4>Just for fun</h4></a></p> 
          <p class="view"><a href="docs/cv.pdf"><h4>CV</h4></a></p>
          <p class="view"><a href="research.html -->

          <!-- social media and CV links -->
          <p class="view">
            <a href="mailto:sda20a@fsu.edu" target="_blank" rel="noopener noreferrer">
              <img src="assets/imgs/logos/email.png" alt="email" width=35px></a>
            <a href="https://twitter.com/sophiea0317" target="_blank" rel="noopener noreferrer"> 
              <img src="assets/imgs/logos/twitter.png" alt="twitter" width=35px></a>
            <a href="https://open.spotify.com/user/au7ivwi4dlcmsthvg14vlhwiv?si=13e5357abbb44b1d" target="_blank" rel="noopener noreferrer">
              <img src="assets/imgs/logos/spotify.png" alt="spotify" width=35x></a>
            <a href="assets/docs/cv.pdf" target="_blank" rel="noopener noreferrer">
              <img src="assets/imgs/logos/cv.png" alt="cv" width=35px></a>
          </p>
          <br><br>

          <!-- song recommmendations submission 
          <p><small>what's your favorite song currently?</small></p>
          <form method="post" action="assets/interactions/submit_song.php">
            <label for="song-recommendation"></label>
            <input type="text" id="song-recommendation" name="song-recommendation" required>
            <input type="submit" value="submit">
          </form>-->
        </center>
      </header>
      <!-- end of left column -->

      <!-- right column with content -->
      <br><br><br>
      <section>
        <!-- introduction -->
        <p>hi there! i am a junior at florida state university majoring in psychology and biomathematics. i have broad interests in human memory, perception, and learning – and in particular how sleep contributes to these aspects of our cognition. i hope to pursue a Ph.D. in cognitive neuroscience studying these topics through neuroimaging and computational techniques.</p>
        <br><br>
        <!-- current research -->
        <p>currently, i am an undergraduate research assistant in the <a href="https://martinmemorylab.com/research" target="_blank" rel="noopener noreferrer">martin memory lab</a> where i am studying how we selectively retrieve semantic and episodic information using fMRI.</p>
        <br><br>
      </section>

      <!-- news section -->
      <section>
        <h3>news:</h3>
        <blockquote>
          <dl>
            <dt>march 2023</dt>
            <dd>i received an <a href='https://hsfhouseblogs.fsu.edu/2023/04/11/sophie-allen-replaying-autobiograhical-memories-with-hippocamera/' target="_blank" rel="noopener noreferrer">IDEA grant</a> to research memory in the <a href='https://barense.psych.utoronto.ca/' target="_blank" rel="noopener noreferrer">memory & perception lab</a> @ the university of toronto!</dd>
          </dl>
        </blockquote>
      </section>
      <!-- end of right column -->
    </div>
  </body>
</html>


